{{ partial "header.html" . }}

<div class="home-content">{{ .Content }}</div>

{{ if .IsHome }}

<div>
    G'day! I'm SWE/Ops in South Korea. <br />
    If you want to contact me, please check out my
    <a href="/about">about</a>.
</div>
<!--TODO: replace with faster search-->

{{ partial "search-form.html" . }}
<ul id="results"></ul>

{{ range .Sections }}
<h2 class="section-title">{{ .CurrentSection.Title }}</h2>
{{ .CurrentSection.Content }} {{ partial "post_list.html" . }} {{ end }} {{ else
}}
<h2 class="section-title">{{ .CurrentSection.Title }}</h2>
{{ partial "post_list.html" . }} {{ end }} {{ partial "footer.html" . }}
