:root {
    --complimentary: #387eef;
    --text: black;
    --text-dim: #444;
    --link: #3366cc;
    --link-visited: #795cb2;
    --code-background: #f3f5f7;
    --code-border: #eaecf0;
    --code-border: transparent;
    --code-hl: #e6e6e6;
    --border-general: #cccfd4;
    --table-th: #e1e5ea;
    --table-tr: #edeff2;
    --toc-background: #f9f9f9;
    --toc-border: #aaa;
}

#gitinfo-date {
    color: var(--text-dim);
    filter: opacity(40%);
    font-style: italic;
    font-size: 0.9em;
    white-space: nowrap;
}

@media screen and (min-width: 760px) {
    #gitinfo-date {
        margin-left: 30px;
    }
}

/* TODO: add iframe margins */

/* HTML & BODY */
html {
    color: var(--text);
    /* set in header*/
    /* background-color: var(--background); */
    scroll-behavior: smooth;
}

body {
    margin: auto;
    padding: 0em 1em 2em 1em;
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Roboto",
        "Segoe UI", Helvetica, Arial, sans-serif;
    line-height: 1.54;
}

@media screen and (min-width: 760px) {
    body {
        margin: auto;
        max-width: 68vw;
    }
}

@media screen and (min-width: 1150px) {
    body {
        margin: auto;
        max-width: 62vw;
    }
}

main {
    hyphens: none;
}

/* BASIC HTML ELEMENTS */
p {
    margin: 1em 0;
}

h1 {
    font-family: "Linux Libertine", "Georgia", "Times", serif;
    font-weight: normal;
    margin-bottom: 0px;
    font-size: 2em;
    margin-top: 0;
}

.site-title {
    margin-top: 4px;
}

.site-title a {
    color: var(--text);
    all: unset;
    cursor: pointer;
}

h2 {
    margin-bottom: 0.5em;
    margin-top: 1.3em;
    border-bottom: 1px solid var(--border-general);
    font-weight: normal;
    font-size: 1.6em;
    font-family: "Linux Libertine", "Georgia", "Times", serif;
}

h3 {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 0.7em;
    padding-bottom: 0;
}

h4 {
    font-size: 1.1em;
    margin-bottom: 0;
    padding-bottom: 0;
    font-style: oblique;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: var(--link);
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: var(--link-visited);
}

hr {
    border-style: dashed;
    color: var(--text-dim);
}

blockquote {
    border-left: 0.3rem solid var(--complimentary);
    font-style: oblique;
    margin: 1.6rem 0;
    padding: 0 1.4rem 0 1rem;
    line-height: 1.6;
}

blockquote p {
    margin: 0;
}

details {
    padding: 0 0 0 14px;
    border-left: 2px dashed var(--border-general);
}

mark {
    padding: 0 2px 0 2px;
}

u {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: red;
    text-underline-offset: 4px; /* g, y와 같이 아래로 뻗은 영문에 의해 underline이 가려지지 않게 offset 처리 */
}

ul {
    padding-left: 2rem;
}

/* NOTE: fix for Inter font. */
strong {
    font-weight: 600;
}

/* NOTE: fix for Inter font. */
th {
    font-weight: 500;
}

/* MISC */
.section-title {
    border: 0;
}

.post-list {
    color: var(--complimentary);
    padding-left: 1em;
}

@media screen and (min-width: 760px) {
    .post-list {
        max-width: 60vw;
    }
}

.bold-post-in-list {
    font-weight: 600;
}

@media screen and (max-width: 760px) {
    .katex {
        font-size: 1.05em !important;
    }
}

.footnotes {
    margin-top: 60px;
}

.terms {
    padding-left: 16px;
}
